.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.card-container{
    margin-top: 7vh;
    margin-bottom: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    padding: 0 6vw;
    width: 100%;
}


@media screen and (max-width: 720px) {
  .card-container {
    justify-content: center;
  }
}