.add-hotel{
    height: 260px ;
    width: 270px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 18px 3px rgb(223, 220, 220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #216c92;
}
.add-hotel h2{
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 15px 0;
}
.plus{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #216c92;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.add-hotel:hover{
    cursor: pointer;
}
.plus:hover{
    transform: scale(1.1);
}